<div class="snig-cookie-warning cc-window cc-floating cc-type-info cc-theme-block cc-bottom cc-right"      
		data-ng-show="{{showCookieWarning}}"
    	data-ng-controller="SnigCookieWarningController">
    <p class="cc-message">
    	<span data-translate="">cookieWarning</span>
        <a class="cc-link" href="/informacoes-sobre-cookies" target="cookie_law" data-translate="">moreOnCookie</a>
        <br /><span class="cc-description" data-translate="">cookieDescription</span>
    </p>
    <div class="cc-compliance">
        <a data-ng-click="close()" class="cc-btn cc-dismiss" data-translate="">acceptCookie</a>
    </div>
</div>
