<!--
<div id="footer" class="footer clearfix">
	<div class="row">
        <div class="col-md-4">
			<a href="http://snig.dgterritorio.pt" target="_blank">SNIG</a>			
        </div>
        <div class="col-md-4" style="float: left;">
			<a href="mailto:snig@dgterritorio.pt" target="_top" data-translate="">contact</a>
        </div>
        <div class="col-md-4">
	    	<div class="pull-right">
				<a href="#" target="_blank" data-translate="">help</a>
	    	</div>
        </div>        
	</div>
</div>
-->

<footer class="site-footer">
	<div class="container">
		<div class="site-footer__top clearfix">
			<section class="row region region-footer-first">
    			<div>    
      				<div class="content">
						<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Direção-Geral do Território © 2019&nbsp;</p>
						</div>  
    				</div>
  				</div>
  			</section>
			<section class="row region region-footer-second">
    			<div id="block-logoscofinanciamento" class="block block-block-content">
      				<div class="content">      
            			<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><img class="logosFundos" src="{{gnUrl}}../catalog/views/snig/images/logosfunds.png"></p>
						</div>     
    				</div>
  				</div>
  			</section>
			<section class="row region region-footer-third">
    			<div>
	      			<div class="content">      
	            		<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="/contact">Contacto</a></p>
	            		</div>
	    			</div>
				</div>
			</section>  
		</div>
	</div>
</footer>